body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#game_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(baggrund.svg);
    background-size: cover;
}

#game_elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#heks_container {
    position: absolute;
    top: 21vw;
    left: 36vw;
}

#heks_sprite {
    width: 8vw;
    height: 13vw;
    background-image: url(heks.svg);
    background-size: cover;
}

#knivmand_container {
    position: absolute;
    top: 22vw;
    left: 61vw;
}

#knivmand_sprite {
    width: 12vw;
    height: 13vw;
    background-image: url(knivmand.svg);
    background-size: cover;
}

#spoegelse_container {
    position: absolute;
    top: 22vw;
    left: 45.3vw;
}

#spoegelse_sprite {
    width: 10vw;
    height: 15vw;
    background-image: url(spoegelse.svg);
    background-size: cover;
}

#zombie_container1 {
    position: absolute;
    top: 33vw;
    left: 22vw;
}

#zombie_sprite1 {
    width: 12vw;
    height: 16vw;
    background-image: url(zombie_1.svg);
    background-size: cover;
}

#zombie_container2 {
    position: absolute;
    top: 15vw;
    left: 73vw;
}

#zombie_sprite2 {
    width: 7vw;
    height: 10vw;
    background-image: url(zombie_2.svg);
    background-size: cover;
}

#game_middleground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(mellemgrund.svg);
    background-size: cover;
}

#game_foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(forgrund.svg);
    background-size: cover;
}

#game_ui {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#score_board_container {
    position: absolute;
    top: 2.6vw;
    left: 85vw;
}

#score_board_sprite {
    width: 8vw;
    height: 2vw;
    background-image: url(point.svg);
    background-size: cover;
}

#energy_board_container {
    position: absolute;
    top: 2.6vw;
    left: 7vw;
}

#energy_board_sprite {
    width: 8vw;
    height: 3vw;
    background-image: url(liv.svg);
    background-size: cover;
}

#time_board_container {
    position: absolute;
    top: 2vw;
    left: 35vw;
}

#time_board_sprite {
    width: 30vw;
    height: 3vw;
    background-image: url(tid.svg);
    background-size: cover;
}

#start {
    position: absolute;
    background-color: ;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

#game_over {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

#level_complete {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

/*Animationer*/
.hop {
    animation-name: hop_kf;
    animation-duration: 4s;
}

@keyframes hop_kf {
    0 {
        transform: translateY(0vw);
    }

    50% {
        transform: translateY(-10vw);
    }

    100% {
        transform: translateY(0vw);
    }
}

.roter {
    animation-name: roter_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes roter_kf {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.zoom_ud {
    animation-name: zoom_ud_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes zoom_ud_kf {
    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(0);
    }
}

.forsvind {
    animation-name: forsvind_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes forsvind_kf {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

.pause {
    animation-play-state: paused;
}
