body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#game_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(baggrund.svg);
    background-size: cover;
}

#game_elements {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#heks_container {
    position: absolute;
}

#heks_sprite {
    width: 8vw;
    height: 13vw;
    background-image: url(heks.svg);
    background-size: cover;
}

#knivmand_container {
    position: absolute;
    top: vw;
    left: vw;
}

#knivmand_sprite {
    width: 12vw;
    height: 13vw;
    background-image: url(knivmand.svg);
    background-size: cover;
}

#spoegelse_container {
    position: absolute;
    top: vw;
    left: vw;
}

#spoegelse_sprite {
    width: 10vw;
    height: 15vw;
    background-image: url(spoegelse.svg);
    background-size: cover;
}

#zombie_container1 {
    position: absolute;
}

#zombie_sprite1 {
    width: 8vw;
    height: 11vw;
    background-image: url(zombie_1.svg);
    background-size: cover;
}

#zombie_container2 {
    position: absolute;
    top: vw;
    left: vw;
}

#zombie_sprite2 {
    width: 7vw;
    height: 10vw;
    background-image: url(zombie_2.svg);
    background-size: cover;
}

#game_middleground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(mellemgrund.svg);
    background-size: cover;
    pointer-events: none;
}

#game_foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(forgrund.svg);
    background-size: cover;
    pointer-events: none;
}

#game_ui {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#score_board {
    position: absolute;
    top: 2.6vw;
    left: 85vw;
    width: 8vw;
    height: 2vw;
    background-image: url(point.svg);
    background-size: cover;
    font-size: 2em;
}

#energy_board {
    position: absolute;
    top: 2.6vw;
    left: 7vw;
    display: flex;
    gap: 0.5vw;
    justify-content: center;
}

#energy_board img {
    width: 3vw;
}

/* Tid og animation*/
#time_board_container {
    position: absolute;
    /*
    top: 2vw;
    left: 35vw;
*/
    top: 20vw;
    left: 2vw;
    width: 6vw;
    height: 30vw;
    border: 4px solid black;
}

#time_board_sprite {
    width: 6vw;
    height: 30vw;
    background-color: lime;
    transform-origin: center bottom;
}

.time {
    animation-name: time_kf;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes time_kf {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

/*
#time_board_sprite {
    width: 30vw;
    height: 3vw;
    background-image: url(tid.svg);
    background-size: cover;
}
*/

#start {
    position: absolute;
    background-image: url(startside.svg);
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

#game_over {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

#level_complete {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

/*Positioner (bagerst til venstre...)*/
.pos1 {
    top: 24vw;
    left: 26.5vw;
}

.pos2 {
    top: 24vw;
    left: 48vw;
}

.pos3 {
    top: 24vw;
    left: 69vw;
}

.pos4 {
    top: 32.5vw;
    left: 37vw;
}

.pos5 {
    top: 32.5vw;
    left: 58vw;
}

.pos6 {
    top: 44.5vw;
    left: 27vw;
}

.pos7 {
    top: 44.5vw;
    left: 48vw;
}

.pos8 {
    top: 44.5vw;
    left: 69vw;
}

/*Animationer*/
.hop {
    animation-name: hop_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes hop_kf {
    0 {
        transform: translateY(0vw);
    }

    20% {
        transform: translateY(-10vw);
    }

    35% {
        transform: translateY(-10vw) scale(1);
    }

    50% {
        transform: translateY(-10vw) scale(1);
    }

    75% {
        transform: translateY(0vw) scale(0);
    }

    100% {
        transform: translateY(0vw);
    }
}

.roter_forsvind {
    animation-name: roter_forsvind_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes roter_forsvind_kf {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(0);
    }
}

.zoom_forsvind {
    animation-name: zoom_forsvind_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes zoom_forsvind_kf {
    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(0);
    }
}

.skjul {
    display: none;
}

.pause {
    animation-play-state: paused;
}

.delay1 {
    animation-delay: 0;
}

.delay2 {
    animation-delay: 1s;
}

.delay3 {
    animation-delay: 3s;
}

.speed1 {
    animation-duration: 2.5s;
}

.speed2 {
    animation-duration: 3s;
}

.speed3 {
    animation-duration: 3.5s;
}
